<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="assets/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">CLINICA MESOCRUZ</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/descarga.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>

    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <ng-container *ngFor="let item of navItems">
          <li class="nav-item">
            <a
              [routerLink]="[item.url]"
              [routerLinkActive]="['active']"
              class="nav-link"
            >
              <i [class]="item.iconComponent.name"></i>
              <p>
                {{ item.name }}
              </p>
            </a>
          </li>
        </ng-container>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p> Gestionar Persona<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/clientes']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Clientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/doctores']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Doctores</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/pacientes']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Pacientes</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p> Gestionar Atenc. Medica<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/citasmedicas']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Citas Medicas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/recetas']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Recetas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/calendar']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Calendario</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p> Gestionar Ventas<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/ventas']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ventas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/pagos']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p> estdo de Pagos</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p> Gestionar Farmacia<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/medicamentos']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Medicamantos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/dispensacion']"
                [routerLinkActive]="['active']"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>pagos</p>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
